body {
    background-image: url("jaifei.jpg");
    background-repeat: repeat;
    background-size: 250px;
}

.head {
    padding: 10px;
    background-color: rgba(78, 197, 114, 0.85);
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
}

header {
    font-size: 50px;
    font-weight: bold;
}

.rest {
    margin-top: 50px;
    padding: 10px;
    padding-left: 50px ;
    padding-right: 50px;
    background-color: rgba(78, 197, 114, 0.85);
    border-radius: 50px;
    height: 2200px;
}

hr {
    border: 3px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 50px
}

img {
    float: left;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

p {
    text-align: center;
    font-size: 24px;
}
.opis {
    text-align: center;
    background-color: rgb(255, 255, 255, 0.85);
    font-size: 30px;
    padding: 50px;
    margin-left: 555px;
    border-radius: 20px;
}

.cena {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 500px;

}

button {
    font-weight: bolder;
    text-align: center;
    margin-left: 950px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(97, 209, 97, 0.5);
}
